// Banner (1st section) style
#banner {
  background-image: image-url('background.jpg');
  background-size: cover;
  color: white;
  height: 650px;
  padding: 150px 0;
  h1 {
    color: white;
    font-size: 50px;
  }
  p {
    font-size: 25px;
    font-weight: 100;
  }
}